#img{
  width: 30%;
}
#imgs{
  width: 200px;
}
.h1{
  color: #66ff66;
  font-size: 20px;
}
.par{
  font-family: sans-serif;
  font-size: 18px;
  color: white;
}
.head{
  font-family: sans-serif;
  font-size: 20px;
  color: #66ccff;
  text-decoration: underline;

}
.column1{
  width: 200px;
  float: left;
  margin-left: inherit;
}
.column2{
  width: 200px;
  float: left;
  margin-left: inherit;
}
.column3{
  width: 200px;
  float: left;
  margin-left: inherit;

}
body{
  background-color: lightblue;
  background-image: url(../images/back.jpg);
}
